<!DOCTYPE html(lang='en')>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge"/>
  <title>MusicBox</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
  <link rel="stylesheet" href="/aplayer/Aplayer.min.css"/>
  <link rel="stylesheet" href="/stylesheets/style.css"/>
  <link rel="stylesheet" href="/fontawesome/css/all.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="/aplayer/Aplayer.min.js"></script>
  <body>
    <div class="container-fluid p-0 main-area">
      <div class="d-flex flex-row h-100">
        <div class="d-flex">
          <div class="list-group" id="sidebar">
            <div class="list-group-item d-inline-block" id="sidebaricon" data-toggle="collapse" aria-expanded="false"><i class="fas fa-headphones-alt"></i><span class="d-none d-lg-inline text-white">MusicBox</span></div><a class="list-group-item d-inline-block mt-3" data-toggle="collapse" aria-expanded="false"><i class="fas fa-music"></i><span class="d-none d-lg-inline text-white">Song</span></a><a class="list-group-item d-inline-block" data-toggle="collapse" aria-expanded="false"><i class="fas fa-compact-disc"></i><span class="d-none d-lg-inline text-white">Album</span></a><a class="list-group-item d-inline-block" data-toggle="collapse" aria-expanded="false"><i class="fas fa-search"></i><span class="d-none d-lg-inline text-white">Search</span></a><a class="list-group-item d-inline-block mt-auto mb-2" data-toggle="collapse" aria-expanded="false">
              <hr/><i class="fas fa-user-circle"></i><span class="d-none d-lg-inline text-white">Profile</span></a>
          </div>
        </div>
        <div class="d-flex flex-row">
          <div class="container-fluid">
            <h1 class="text-white">This is album page</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid music-player-area">
      <p>This is music player area.</p>
    </div>
    <!--div.main-->
    <!--    div#panecontent-->
    <!--        div#sidebar-->
    <!--            div.userinfo-->
    <!--                div.icn-avatar-->
    <!--                    img(src='/icons/avatars/sparta.jpg' width='100%' height='100%')-->
    <!--                div.username(style='width: 100%;')-->
    <!--                    p(style='white-space: nowrap;') Leonardo II-->
    <!--            hr-->
    <!--            .list-group-->
    <!--                a.list-group-item(href='#') #[i.material-icons home] Home-->
    <!--                a.list-group-item(href='#') #[i.material-icons search] Search-->
    <!--                a.list-group-item(href='#') #[i.material-icons star] Favorite-->
    <!--                a.list-group-item(href='#') #[i.material-icons queue_music] Playlist-->
    <!--                a.list-group-item(href='/logout') Logout-->
    <!--        div#togglebutton-->
    <!--        div#screen-->
    <!--        div#player-->
    <!--            div#aplayer-->
    <!--script(type='text/javascript' src='/javascripts/dynamicstyle.js')-->
    <!--script(type='text/javascript' src='/javascripts/aplayer.js')-->
    <!-- div.foot-->
    <!--    p © Group 15 - CMPT470 Summmer 2019-->
  </body>
</head>