extends index

block content-area
    #tool-bar.d-flex.p-4
        a(href="#" data-target="#sidebar" data-toggle="collapse")
            i.fas.fa-bars.tool-bar-icon.mr-3
        i.fas.fa-plus.tool-bar-icon.mr-3(id="add_album_icon")
        i.fas.fa-trash-alt.tool-bar-icon

    // content area
    #content-area.d-flex.p-4.flex-wrap.align-content-start
        - for (var x = 0; x <100; x++)
            .card(style="width: 10rem; height: 10rem").m-4
                img.card-img-top(src="image/test.png")
                .card-body
                    .card-title.text-white Alumb