div#album_detail_tool_bar
    .d-flex
        .cta.mr-3
            .toggle-btn.change_icon
        //i.fas.fa-bars.tool-bar-icon.mr-3
        i.fas.fa-arrow-left.tool-bar-icon(id='album_detail_back')