div#album_page_tool_bar.w-100
    .d-flex.pl-4.pr-4
        .cta.mr-3
            .toggle-btn.change_icon
        i.fas.fa-search.tool-bar-icon.mr-3(id="album_search")
        //i.fas.fa-trash-alt.tool-bar-icon
    .d-flex.album_page_search_area.align-items-center.hidden
        input.w-100(id="album_search_input" type="text" placeholder="Search Albums...")
        i.fas.fa-times(id="album_search_close")
