#album_page_detail.d-flex.flex-wrap.align-content-start
    - for (var x = 0; x <9; x++)
        .album_card.card.m-3
            img.card-img-top(src='/images/test.png')
            .card-body.p-0.text-center
                .card-text.mt-1.text-white Album &#183; Artists
