<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MusicBox</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/aplayer/Aplayer.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/fontawesome/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/aplayer/Aplayer.min.js"></script>
    <script src="/javascripts/show_and_hidden_password.js"></script>
    <script src="/jqueries/loadIndex.js"></script>
    <script src="/jqueries/resizeDiv.js"></script>
    <script src="/jqueries/contentAreaScrollable.js"></script>
    <script src="/jqueries/loadSongContent.js"></script>
    <script src="/jqueries/loadAlbumContent.js"></script>
  </head>
  <body class="fade-out">
    <div class="container-fluid p-0 main-area">
      <div class="d-flex flex-row">
        <!-- sidebar-->
        <div class="d-flex flex-nowrap">
          <div class="list-group collapse show width" id="sidebar">
            <div class="list-group-item d-inline-block" id="sidebaricon"><i class="fas fa-headphones-alt d-none d-lg-inline"></i><span class="d-none d-lg-inline d-md-none text-white">MusicBox</span><span class="d-md-inline d-lg-none text-white text-addrev">MB</span></div><a class="list-group-item d-inline-block mt-3" href="/song" id="song_button"><i class="fas fa-music d-inline"></i><span class="d-none d-lg-inline text-white">Song</span></a><a class="list-group-item d-inline-blockid" href="/album" id="album_button"><i class="fas fa-compact-disc d-inline"></i><span class="d-none d-lg-inline text-white">Album</span></a><a class="list-group-item d-inline-block"><i class="fas fa-search d-inline"></i><span class="d-none d-lg-inline text-white">Search</span></a><a class="list-group-item d-inline-block" href="/logout"><span class="d-none d-lg-inline text-white">Logout</span></a><a class="list-group-item d-inline-block mt-auto mb-2">
              <hr><i class="fas fa-user-circle d-inline"></i><span class="d-none d-lg-inline text-white">Profile</span></a>
          </div>
        </div>
        <div class="d-flex flex-column flex-grow-1">
          <div class="d-flex p-4" id="tool-bar"><a href="#" data-target="#sidebar" data-toggle="collapse"><i class="fas fa-bars tool-bar-icon mr-3"></i></a><i class="fas fa-plus tool-bar-icon mr-3" id="add_album_icon"></i><i class="fas fa-trash-alt tool-bar-icon"></i></div>
          <!-- content area-->
          <div class="d-flex p-4 flex-wrap align-content-start" id="content-area">
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
            <div class="card m-4" style="width: 10rem; height: 10rem"><img class="card-img-top" src="image/test.png">
              <div class="card-body">
                <div class="card-title text-white">Alumb</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- music player-->
    <div class="container-fluid p-0 music-player-area" id="music-player">
      <audio controls>
        <source src="/music/test.mp3" type="audio/mpeg">
      </audio>
    </div>
  </body>
</html>