extends layout_index

block content
    .container-fluid.p-0.main-area
        .d-flex.flex-row
            // sidebar
            .d-flex.flex-nowrap
                #sidebar.list-group.collapse.show.width
                    #sidebaricon.list-group-item.d-inline-block
                        i.fas.fa-headphones-alt.d-none.d-lg-inline
                        span.d-none.d-lg-inline.d-md-none.text-white MusicBox
                        span.d-md-inline.d-lg-none.text-white.text-addrev MB

                    a.list-group-item.d-inline-block.mt-3(href="/song" id="song_button")
                        i.fas.fa-music.d-inline
                        span.d-none.d-lg-inline.text-white Song

                    a.list-group-item.d-inline-blockid(href="/album" id="album_button")
                        i.fas.fa-compact-disc.d-inline
                        span.d-none.d-lg-inline.text-white Album

                    a.list-group-item.d-inline-block
                        i.fas.fa-search.d-inline
                        span.d-none.d-lg-inline.text-white Search

                    a.list-group-item.d-inline-block(href="/logout")
                        span.d-none.d-lg-inline.text-white Logout

                    a.list-group-item.d-inline-block.mt-auto.mb-2
                        hr
                        i.fas.fa-user-circle.d-inline
                        span.d-none.d-lg-inline.text-white Profile

            .d-flex.flex-column.flex-grow-1
                block content-area



                    //h1.text-white(id='test')
                    // - for (var x = 0; x <100; x++)
                    //     .card(style="width: 10rem; height: 10rem").m-4
                    //         img.card-img-top(src="image/test.png")
                    //         .card-body
                    //             .card-title.text-white Alumb

    // music player
    #music-player.container-fluid.p-0.music-player-area
        audio(controls)
            source(src="/music/test.mp3" type="audio/mpeg")