extends layout_index

block content
    div#main-area.container-fluid.p-0
        .d-flex.flex-row
            // sidebar
            .d-flex.flex-nowrap
                #sidebar.list-group.collapse.show.width
                    #sidebaricon.list-group-item.d-inline-block
                        i.fas.fa-headphones-alt.d-none.d-lg-inline
                        span.d-none.d-lg-inline.d-md-none.text-white MusicBox
                        span.d-md-inline.d-lg-none.text-white.text-addrev MB

                    a.list-group-item.d-inline-block.mt-3(href="/track" id="track_button")
                        i.fas.fa-music.d-inline
                        span.d-none.d-lg-inline.text-white Track

                    a.list-group-item.d-inline-blockid(href="/playlist" id="playlist_button")
                        i.fas.fa-compact-disc.d-inline
                        span.d-none.d-lg-inline.text-white Playlist

                    a.list-group-item.d-inline-block
                        i.fas.fa-search.d-inline
                        span.d-none.d-lg-inline.text-white Search

                    a.list-group-item.d-inline-block.mt-auto
                        hr
                        i.fas.fa-user-circle.d-inline
                        span.d-none.d-lg-inline.text-white Profile

                    a.list-group-item.d-inline-block.mb-4(href="/logout")
                        i.fas.fa-sign-out-alt.d-inline
                        span.d-none.d-lg-inline.text-white Logout

            #app-screen.d-flex.flex-column.flex-grow-1
                // tool area
                include uploadform
                #tool-bar.d-flex.p-4
                    if page === "track_detail" || page === "track_create"
                        include track_tool_bar
                    else if page === "playlist_detail" || page === "playlist_create"
                        include playlist_tool_bar

                // content area
                #item-info
                    #content-area.d-flex.flex-wrap.p-4.align-content-start
                        if page === "track_detail"
                            include track_detail
                        else if page === "playlist_detail"
                            include playlist_detail
                        else if page === "playlist_create"
                            include playlist_create

            .position-absolute.music-player-area
                div#aplayer
    script(type='text/javascript' src='/javascripts/aplayer.js')