extends layout

block content
    .list-group
        a.list-group-item(href='#') #[i.material-icons home] Home
        a.list-group-item(href='#') #[i.material-icons search] Search
        a.list-group-item(href='#') #[i.material-icons star] Favorite
        a.list-group-item(href='#') #[i.material-icons queue_music] Playlist
        a.list-group-item(href='/logout') Logout

