<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MusicBox</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/aplayer/Aplayer.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/fontawesome/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/aplayer/Aplayer.min.js"></script>
    <script src="/javascripts/show_and_hidden_password.js"></script>
    <script src="/jqueries/loadIndex.js"></script>
    <script src="/jqueries/resizeDiv.js"></script>
    <script src="/jqueries/contentAreaScrollable.js"></script>
    <script src="/jqueries/loadTrackContent.js"></script>
    <script src="/jqueries/loadPlaylistContent.js"></script>
  </head>
  <body class="fade-out">
    <div class="container-fluid p-0 main-area">
      <div class="d-flex flex-row">
        <!-- sidebar-->
        <div class="d-flex flex-nowrap">
          <div class="list-group collapse show width" id="sidebar">
            <div class="list-group-item d-inline-block" id="sidebaricon"><i class="fas fa-headphones-alt d-none d-lg-inline"></i><span class="d-none d-lg-inline d-md-none text-white">MusicBox</span><span class="d-md-inline d-lg-none text-white text-addrev">MB</span></div><a class="list-group-item d-inline-block mt-3" href="/track" id="track_button"><i class="fas fa-music d-inline"></i><span class="d-none d-lg-inline text-white">Track</span></a><a class="list-group-item d-inline-blockid" href="/playlist" id="playlist_button"><i class="fas fa-compact-disc d-inline"></i><span class="d-none d-lg-inline text-white">Playlist</span></a><a class="list-group-item d-inline-block"><i class="fas fa-search d-inline"></i><span class="d-none d-lg-inline text-white">Search</span></a><a class="list-group-item d-inline-block mt-auto">
              <hr><i class="fas fa-user-circle d-inline"></i><span class="d-none d-lg-inline text-white">Profile</span></a><a class="list-group-item d-inline-block mb-4" href="/logout"><i class="fas fa-sign-out-alt d-inline"></i><span class="d-none d-lg-inline text-white">Logout</span></a>
          </div>
        </div>
        <div class="d-flex flex-column flex-grow-1">
          <!-- tool area-->
          <div class="d-flex p-4" id="tool-bar">
          </div>
          <!-- content area-->
          <div class="d-flex p-4 flex-wrap align-content-start" id="content-area">
          </div>
        </div>
      </div>
      <div class="container-fluid p-0 music-player-area" id="music-player">
        <!--audio(controls)//    source(src="/music/test.mp3" type="audio/mpeg")
        -->
      </div>
    </div>
  </body>
</html>