extends layout

block content
    div.main
        div#panecontent
            div#sidebar
                div.userinfo
                    div.icn-avatar
                        img(src='/icons/avatars/sparta.jpg' width='100%' height='100%')
                    div.username(style='width: 100%;')
                        p(style='white-space: nowrap;') Leonardo II
                hr
                .list-group
                    a.list-group-item(href='#') #[i.material-icons home] Home
                    a.list-group-item(href='#') #[i.material-icons search] Search
                    a.list-group-item(href='#') #[i.material-icons star] Favorite
                    a.list-group-item(href='#') #[i.material-icons queue_music] Playlist
                    a.list-group-item(href='/logout') Logout
            div#togglebutton
            div#screen
            div#player
                div#aplayer
    script(type='text/javascript' src='/javascripts/dynamicstyle.js')
    script(type='text/javascript' src='/javascripts/aplayer.js')
     div.foot
        p © Group 15 - CMPT470 Summmer 2019

