doctype html(lang='en')
head
	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
	meta(http-equiv='x-ua-compatible', content='ie=edge')
	title MusicBox
	link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css', integrity='sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd', crossorigin='anonymous')
	link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
	link(rel='stylesheet', href='/stylesheets/aplayerconfig.css')
	link(rel='stylesheet', href='/stylesheets/style.css')
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
	script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js', integrity='sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7', crossorigin='anonymous')
	script(src='/javascript/aplayerbehave.js')

body
	include navbar
	div.main
		div#panecontent
			div#authentication
				include login
				include register
			div#sidebar
				include profile
			div#togglebutton
			div#screen
				block content
			div#player
				div#aplayer
	script(type='text/javascript' src='/javascript/dynamicstyle.js')
	script(type='text/javascript' src='/javascript/aplayer.js')
	div.foot
		p © Group 15 - CMPT470 Summmer 2019