doctype
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        title MusicBox
        link(rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
        link(rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css")
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.css', rel='stylesheet')
        link(rel='stylesheet', href='/stylesheets/aplayerconfig.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/uploadform.css')
        link(rel='stylesheet', href='/stylesheets/operateplaylist.css')
        link(rel="stylesheet" href="/fontawesome/css/all.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.js')
        script(src='/javascripts/show_and_hidden_password.js')
        script(src='/jqueries/loadIndex.js')
        script(src='/jqueries/resizeDiv.js')
        script(src='/jqueries/loadTrackPageContent.js')
        script(src='/jqueries/loadPlaylistPageContent.js')
        script(src='/jqueries/loadAlbumPageContent.js')
        script(src='/jqueries/loadAlbumDetailContent.js')
        script(src='/jqueries/loadPlaylistDetailContent.js')
        script(src='/jqueries/uploadFormFeatures.js')
        script(src='/jqueries/playPlaylistFeatures.js')
        script(src='/jqueries/trackListEventHandler.js')
        script(src='/jqueries/albumPlaylistEventHandler.js')
        script(src='/jqueries/playlistPageActionHandler.js')
        script(src='/jqueries/toggleIcon.js')
        script(src='/bundles/searchBundle.js')
        // dev lib
        script(src='https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.10.1/beautify-html.js')

    body.fade-out
        block content