<!DOCTYPE html(lang='en')>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge"/>
  <title>MusicBox</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
  <link rel="stylesheet" href="/stylesheets/style.css"/>
  <body>
    <!--include navbar-->
    <!-- - custom css (see in public/stylesheets/styly.css
    .login-form-col
    .btn-style
    .icn-style
    .icn-text-style
    -->
    <div class="container-fluid h-100 p-0">
      <div class="row justify-content-center align-items-center p-0 mt-3"><i class="material-icons mr-2 icn-style">library_music</i>
        <p class="text-white m-0 icn-text-style">MusicBox</p>
      </div>
      <hr/>
      <div class="row justify-content-center align-items-center p-0 mx-auto login-form-col">
        <div class="col mx-auto p-0">
          <h5 class="text-white text-center font-weight-bold mb-4">To contumue,log in to MusicBox.</h5>
          <form method="post" action="">
            <div class="form-group">
              <input class="form-control mx-auto" id="user_name" type="text" placeholder="Email address or username" name="username" required="required" value=""/>
            </div>
            <div class="form-group">
              <input class="form-control mx-auto" id="password" type="password" placeholder="Password" name="password" required="required" value=""/>
            </div>
            <div class="row justify-content-center align-items-center m-0 login-form-col">
              <div class="col-sm-5 p-0">
                <div class="form-check-inline">
                  <input class="form-check-input" id="password_checkbox" type="checkbox" onclick="show_hidden_password()"/>
                  <label class="form-check-label text-white" for="password_checkbox">Show Password</label>
                </div>
              </div>
              <div class="col-sm-7 p-0">
                <button class="btn btn-outline-primary btn-block btn-style" type="submit">LOG IN</button>
              </div>
            </div>
          </form>
          <hr class="mt-5 mr-5"/>
          <h5 class="text-white text-center font-weight-bold mb-4">Don't have an account?</h5><a class="button btn btn-outline-primary btn-block btn-style" href="/register">SIGN UP FOR MUSICBOX</a>
          <hr class="mt-4 mb-4"/>
          <p class="text-white">Some other text like our team members' name?</p>
        </div>
      </div>
    </div>
    <!--script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')-->
    <!--script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js', integrity='sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7', crossorigin='anonymous')-->
  </body>
</head>