extends layout

block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
                h1.display-4.m-b-2 Log In
                if errors
                    ul
                        for error in errors
                            li.alert.alert-danger!= error.msg
                form(method='POST' action='/login')
                    div.form-group
                        input.form-control(type='text' id='username' placeholder='Email address or username' name='username')
                    div.form-group
                        input.form-control(type='password' id='password' placeholder='Password' name='password')
                    button.btn.btn-primary(type='submit') Log in


