
<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <button class="navbar-toggler hidden-md-up pull-xs-right" type="button" data-toggle="collapse" data-target="#navbar">&#x2630;</button>
  <div class="navbar-nav collapse navbar-toggleable-sm" id="navbar">
    <div class="container"><a class="navbar-brand" href="/"><i class="icn-logo material-icons">library_music</i>MusicBox</a>
      <div class="nav-items clearfix"><a class="nav-item nav-link" href="/user/library">Library</a>
      </div><a class="btn btn-info pull-md-right" href="/login">Login</a><a class="btn btn-secondary pull-md-right" href="/register">Sign Up</a>
    </div>
  </div>
</nav>