#playlist_detail.d-flex.flex-wrap.align-content-start
    - for (var x = 0; x <100; x++)
        .card(style="width: 10rem; height: 10rem").m-4
             img.card-img-top(src='/images/test.png')
             .card-body
                 .card-title.text-white Alumb
