.modal.fade(id="mkplaylist" tabindex="-1" role="dialog"
    aria-labelledby="mkplaylistTitle" aria-hidden="true")
    .modal-dialog(role="document")
        .modal-content.mkplaylist-form
            .modal-header
                h1.modal-title(id="mkplaylistTitle") Create Playlist
            .modal-body
                .d-flex.justify-content-center
                    form#newPL(action='/playlist/create' method='post')
                        label Playlist Name: 
                            input#playlistName(type='text' name='PlaylistName' required)
                        label Privacy: 
                            .privacySelect(style='margin-left: 25%;')
                                input(type='radio' name='privacy' value='false' checked)
                                p Private
                            .privacySelect(style='margin-left: 25px;')
                                input(type='radio' name='privacy' value='true')
                                p Public
                        .d-flex.justify-content-around
                            button#createPL(type='button' class='btn btn-default btn-sm') Create
                            button#mkPLabort(type='button' class='btn btn-default btn-sm' data-dismiss="modal" aria-label="Abort") Cancel