div#playlist_page_tool_bar.w-100
    .d-flex.pl-4.pr-4
        .cta.mr-3
            .toggle-btn.change_icon
        a(id="add_playlist_icon")
            i.fas.fa-plus.tool-bar-icon.mr-3(data-toggle="modal"
        data-target="#mkplaylist" style='cursor: pointer;')
        i.fas.fa-search.tool-bar-icon.mr-3(id="playlist_search")
        //i.fas.fa-trash-alt.tool-bar-icon
    .d-flex.playlist_page_search_area.align-items-center.hidden
        input.w-100(id="playlist_search_input" type="text" placeholder="Search Playlists...")
        i.fas.fa-times(id="playlist_search_close")

    include playlist_create