- const shareID = playlist.playlist_id;
.modal.fade(id="shareplaylist" tabindex="-1" role="dialog"
    aria-labelledby="shareplaylistTitle" aria-hidden="true")
    .modal-dialog(role="document")
        .modal-content.shareplaylist-form
            .modal-header
                h1.modal-title(id="shareplaylistTitle") Share Playlist
            .modal-body
                .d-flex.justify-content-center
                    form#newShare(action='/playlist/' + shareID + '/share' method='post')
                        label Enter Username: 
                            input#ShareUser(type='text' name='destUser')
                        .d-flex.justify-content-around
                            button#confirmShare(type='button' class='btn btn-default btn-sm') Share
                            button#abortShare(type='button' class='btn btn-default btn-sm' data-dismiss="modal" aria-label="Abort") Cancel
