
<div id="playlist_detail">
  <div class="row">
    <div class="col-lg-4">
      <div class="d-flex flex-column">
        <div class="d-flex justify-content-end">
          <div class="card mr-3"><img class="card-img-top" src="/images/test.png"/></div>
        </div>
        <div class="d-flex justify-content-end">
          <ul class="list-group text-center w-100 mr-3">
            <li class="list-group-item">
              <h4 class="text-white">Alumb &#183; Artists</h4>
            </li>
            <li class="list-group-item">
              <button class="btn btn-secondary" id="playlist_detail_play_btn">PLAY</button>
            </li>
            <li class="list-group-item pb-0">
              <p class="text-white">Never miss a new release! Catch all the latest music from artists you follow, plus new singles picked just for you. Updates every Friday.</p>
            </li>
            <li class="list-group-item pt-0">
              <p class="text-white">10 TRACKS</p>
            </li>
            <li class="list-group-item d-inline-block" id="playlist_detail_icon_list"><i class="far fa-heart text-white mr-4"></i>
              <!--i.fas.fa-heart.text-white--><i class="fas fa-share-alt text-white mr-4"></i><i class="fas fa-ellipsis-h text-white"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="list-group" id="playlist_detail_track_list"><a class="list-group-item">
          <div class="row flex-nowrap">
            <div class="col">
              <div class="text-white">Track</div>
            </div>
            <div class="col">
              <div class="text-white">3:50</div>
            </div>
          </div></a>
      </div>
    </div>
  </div>
</div>