#playlist_page_detail.d-flex.flex-wrap.align-content-start
    for playlist in playlists
        - const playlist_name = (null === playlist.title ? 'Untitled' : playlist.title)
        - const playlist_path = '/playlists/' + playlist.title
        - const playlist_id = (null === playlist.playlist_id ? '' : playlist.playlist_id)
        - const url = '/playlist/' + playlist_id + "/detail";
        - const isShare = (null === playlist.share_id ? 'False' : 'True')
        .album_card.card.m-3
            div.playlist_cover
                .playlist_cover_image
                    if (isShare === 'False')
                        img.card-img-top(src='/images/music_cover_default_white.png')
                    else
                        img.card-img-top(src='/images/music_cover_default_black.png')
                img.card-img-top.playlist_play_icon(src='/images/circled_play.png')
            .card-body.p-0
                a.playlist_text.mt-1.text-white.noselect(href=url) #{playlist_name}