div
    a(href="#" data-target="#sidebar" data-toggle="collapse")
        i.fas.fa-bars.tool-bar-icon.mr-3
    i.fas.fa-plus.tool-bar-icon.mr-3(id="add_playlist_icon")
    i.fas.fa-trash-alt.tool-bar-icon