div.userinfo
	div.icn-avatar
		img(src='/icons/avatars/sparta.jpg' width='100%' height='100%')
	div.username(style='width: 100%;')
		p(style='white-space: nowrap;') Leonardo II
hr
.list-group
	a.list-group-item(href='#') #[i.material-icons home] Home
	a.list-group-item(href='#') &#128269; Search
	a.list-group-item(href='#') &#9733; Favorite
	a.list-group-item(href='#') &#128463; Playlist
