#register-form
	h1 Sign Up
	hr
	if errors
		ul
			for error in errors
				li.alert.alert-danger!= error.msg
	
	// register form
	form(method='POST' action='/register')
		div.form-group
			label(for='username') Username:
			input#name.form-control(type='text', required, name='username', maxlength=25, minlength=3, value=(undefined === user ? '' : user.username))
		div.form-group
			label(for='email') Email:
			input#email.form-control(type='email', required, name='email', value=(undefined === user ? '' : user.email))
		div.form-group
			label(for='date_of_birth') Date of birth:
			input#date_of_birth.form-control(type='date', required, name='date_of_birth', value=(undefined === user ? '' : user.date_of_birth))
		div.form-group
			label(for='pw') Password (8 characters minimum):
			input#pw.form-control(type='password', required, name='password', maxlength=35, minlength=8)
		div.form-group
			label(for='pw2') Confirm Password:
			input#pw2.form-control(type='password', required, name='confirmPassword')
		button.btn.btn-primary(type='submit') Sign up

