
<div class="modal fade" id="deleteComfirmPane" tabindex="-1" role="dialog" aria-labelledby="uploadpaneTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteComfirmTitle"></h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <p>Are you sure?</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
        <button class="btn btn-primary" type="button" data-dismiss="modal">Comfirm</button>
      </div>
    </div>
  </div>
</div>