div#track_tool_bar
    a(href="#" data-target="#sidebar" data-toggle="collapse")
        i.fas.fa-bars.tool-bar-icon.mr-3
    i.fas.fa-cloud-upload-alt.tool-bar-icon.mr-3(id="add_track_icon")
    i.fas.fa-trash-alt.tool-bar-icon