div#track_page_delete_status_tool_bar.w-100
    .d-flex.pl-4.pr-4
        .cta.mr-3
            .toggle-btn.change_icon
        i.fas.fa-check.tool-bar-icon.mr-3.track_page_delete_comfirm_icon
        i.fas.fa-times.tool-bar-icon.mr-3.track_page_delete_cancel_icon
        i.fas.fa-search.tool-bar-icon.mr-3(id="track_search")
    .d-flex.track_page_search_area.align-items-center.hidden
        input.w-100(id="track_search_input" type="text" placeholder="Search Tracks...")
        i.fas.fa-times(id="track_search_close")