div#track_tool_bar
    a(href="#" data-target="#sidebar" data-toggle="collapse")
        i.fas.fa-bars.tool-bar-icon.mr-3
    i.fas.fa-cloud-upload-alt.tool-bar-icon.mr-3(data-toggle="modal"
        data-target="#uploadpane")
    i.fas.fa-trash-alt.tool-bar-icon
    //i.fas.fa-cloud-upload-alt.tool-bar-icon.mr-3(id="add_track_icon"
    //    style='cursor: pointer;' onclick="document.getElementById('uploadpane').style.display='block';")

    include upload_form

