div#track_page_tool_bar.w-100
    .d-flex.pl-4.pr-4
        .cta.mr-3
            .toggle-btn.change_icon
            //i.fas.fa-bars.tool-bar-icon.mr-3
        a(id="upload_icon" style='cursor: pointer;')
            i.fas.fa-cloud-upload-alt.tool-bar-icon.mr-3
        //i.fas.fa-trash-alt.tool-bar-icon.mr-3
        i.fas.fa-search.tool-bar-icon(id="track_search")
    .d-flex.track_page_search_area.align-items-center.hidden
        input.w-100(id="track_search_input" type="text" placeholder="Search Tracks...")
        i.fas.fa-times(id="track_search_close")

    //i.fas.fa-cloud-upload-alt.tool-bar-icon.mr-3(id="add_track_icon"
    //    style='cursor: pointer;' onclick="document.getElementById('uploadpane').style.display='block';")

    include upload_form
