div#track_page_tool_bar
    .d-flex
        .cta.mr-3
            .toggle-btn.change_icon
            //i.fas.fa-bars.tool-bar-icon.mr-3
        a(href='#upload', id="upload_icon")
            i.fas.fa-cloud-upload-alt.tool-bar-icon.mr-3
        a(href="#")
            i.fas.fa-trash-alt.tool-bar-icon.mr-3


    //i.fas.fa-cloud-upload-alt.tool-bar-icon.mr-3(id="add_track_icon"
    //    style='cursor: pointer;' onclick="document.getElementById('uploadpane').style.display='block';")

    include upload_form

