.modal.fade(id="uploadpane" tabindex="-1" role="dialog"
    aria-labelledby="uploadpaneTitle" aria-hidden="true")
    .modal-dialog(role="document")
        .modal-content.upload-form
            .modal-header
                h1.modal-title(id="uploadpaneTitle") Upload Music
                button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") &times;
            .modal-body
                p Upload Your mp3 / wav files here!
                form#uf(action='/upload' method='post' enctype='multipart/form-data')
                    input#sf(type='file' name='tracks' accept='audio/mp3, audio/wav'
                        style='display: none;' multiple)
                    input#pickfiles.upload-button(type='button' value='Select'
                        onclick="document.getElementById('sf').click()")
                    input#uploadfiles.upload-button(type='button' value='Upload')

                div#filelist