#mkplaylist, #shareplaylist {
	background: rgba(0, 0, 0, 0.75);
}

.mkplaylist-form, .shareplaylist-form {
	width: 75%;
	height: 10%;
	margin: auto;
	background: url(../images/upload-bg.png);
}

.mkplaylist-form h1, .shareplaylist-form h1 {
	text-transform: uppercase;
    font-size: 18px;
	margin: auto;
    color: #f6f6f6;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, .65);
}

.mkplaylist-form label, .shareplaylist-form label {
	display: inline-block;
	color: #fff;
}

#playlistName, #ShareUser {
	display: inline-block;
	margin-left: 15px;
	border-radius: 5px;
}

.mkplaylist-form .justify-content-around, .shareplaylist-form .justify-content-around {
	margin-top: 10px;
}

.mkplaylist-form button, .shareplaylist-form button {
	display: inline-block;
	width: 100px;
	font-size: 14px;
    color: #777;
    text-decoration: none;
    text-align: center;
	border-radius: 5px;
	background: #ffffff;
	background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 100%);
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #f6f6f6 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #f6f6f6 100%);
	background: linear-gradient(top, #ffffff 0%, #f6f6f6 100%);
}

.mkplaylist-form button:hover, .shareplaylist-form button:hover {
	background: #f2f2f2;
	background: -webkit-linear-gradient(top, #f2f2f2 0%, #eaeaea 100%);
	background: -moz-linear-gradient(top, #f2f2f2 0%, #eaeaea 100%);
	background: -o-linear-gradient(top, #f2f2f2 0%, #eaeaea 100%);
	background: -ms-linear-gradient(top, #f2f2f2 0%, #eaeaea 100%);
	background: linear-gradient(top, #f2f2f2 0%, #eaeaea 100%);
}