:root {
    --login-form-width: 400px;
    --btn-radius: 20px;
    --text-color: white;
}

/* Login and sign up page */

body {
    opacity: 1;
    transition: 1s opacity;
    background: black;
    background-size: cover;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

.icn-style {
    font-size: 60px;
    color: rgba(255, 255, 255, 1);;
}

.icn-text-style {
    font-size: 36px;
}

hr {
    height: 0;
    width: 100%;
    border: 1px solid #FFFFFF;

}

.login-form-col {
    width: var(--login-form-width);
}

.btn-style {
    border-radius: var(--btn-radius);
}

/* main page */

.main-area {

}

.music-player-area {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 90px;
    background-color: grey;
}

#sidebar.list-group {
    background-color: #242424;

}

#sidebar.list-group i {
    color: white;
    margin-right: 10px;
}

#sidebaricon.list-group-item {
    font-size: 22pt;
    background: #242424;
}

#sidebaricon .text-addrev {
    font-size: 20px;
}

a.list-group-item {
    font-size: 14pt;
    /*white-space: nowrap;*/
    /*cursor: pointer;*/
    /*border: none;*/
    /*border-radius: 0;*/
    background: #242424;
}

.tool-bar-icon {
    color: white;
    font-size: 18pt;
}

.collapse.show {
    visibility: visible;
}

.collapsing {
    visibility: visible;
    height: 0;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.collapsing.width {
    -webkit-transition-property: width, visibility;
    transition-property: width, visibility;
    width: 0;
    height: 100%;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
