/* Reset */
/*.upload-form,*/
/*.upload-form div,*/
/*.upload-form span,*/
/*.upload-form input,*/
/*.upload-form a,*/
/*.upload-form h1,*/
/*.upload-form p {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    border: none;*/
/*    outline: none;*/
/*}*/

#uploadpane {
    /*display: none;*/
    /*	width: 100%;*/
    /*height: 100%;*/
    background: rgba(0, 0, 0, 0.75);
    /*z-index: 1;*/
}

/* Form Container */
.upload-form {
    /*display: block;*/
    /*position: relative;*/
    width: 235px;
	margin: auto;
    /*font-family: sans-serif;*/
    /*padding: 20px 20px 25px 25px;*/
    /*margin-top: 10px;*/
    /*margin-left: 10px;*/
    /*cursor: default;*/
    /*-webkit-border-radius: 3px;*/
    /*-moz-border-radius: 3px;*/
    /*border-radius: 3px;*/
    background: url(../images/upload-bg.png);
    /*z-index: 100;*/
}

/* Form Title */
.upload-form h1 {
    text-transform: uppercase;
    font-size: 18px;
    color: #f6f6f6;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, .65);
    /*padding-bottom: 2px;*/
    /*border-bottom: 1px solid #7a7b80;*/
}

/* Replace Title with Image */
.upload-form h1.replace-text {
    display: block;
    width: 100%;
    height: 17px;
    padding-bottom: 7px;
}

/* Close Button */
.upload-form .close {
    /*position: absolute;*/
    /*display: block;*/
    /*width: 12px;*/
    /*height: 12px;*/
    /*top: 24px;*/
    /*right: 22px;*/
    /*padding: 0px;*/
    /*cursor: pointer;*/
    color: white;
}

/* Paragraph */
.upload-form p {
    /*padding: 10px 0;*/
    font-size: 12px;
    color: #a4a5a8;
}

/* Select & Upload Buttons */
.upload-form .upload-button {
    /*display: inline-block;*/
    /*height: 30px;*/
    /*margin: 15px 0;*/
    font-size: 14px;
    color: #777;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    /*line-height: 30px;*/
    background: #ffffff;
    background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 100%);
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #f6f6f6 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #f6f6f6 100%);
    background: linear-gradient(top, #ffffff 0%, #f6f6f6 100%);
}

.upload-form .upload-button:hover {
    background: #f2f2f2;
    background: -webkit-linear-gradient(top, #f2f2f2 0%, #eaeaea 100%);
    background: -moz-linear-gradient(top, #f2f2f2 0%, #eaeaea 100%);
    background: -o-linear-gradient(top, #f2f2f2 0%, #eaeaea 100%);
    background: -ms-linear-gradient(top, #f2f2f2 0%, #eaeaea 100%);
    background: linear-gradient(top, #f2f2f2 0%, #eaeaea 100%);
}

.upload-form #pickfiles {
    width: 99px;
    /*float: left;*/
    /*margin-top: 0px;*/
    margin-bottom: 20px;
    border-right: 1px solid #999;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

.upload-form #uploadfiles {
    width: 100px;
    /*float: right;*/
    /*margin-top: 0px;*/
    margin-bottom: 20px;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

/* Added Files */
.upload-form .addedFile {
    /*display: block;*/
    /*position: relative;*/
    overflow: hidden;
    word-break: break-all;
    margin-bottom: 5px;
    padding: 0 25px 0 25px;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    color: #646464;
    background: #f6f6f6 url(../images/file.png) no-repeat 5px center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.isDisabled {
    cursor: not-allowed;
    opacity: 0.5;
}